@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* shared style */

.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar,
.hero-section {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.color-darkgray {
    color: #3A3A3A;
}

.color-lightgray {
    color: #6C6C6C;
}

/* main style */

/* navbar style */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}

.navbar-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-lists {
    gap: 35px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* hero section style */

.hero-section {
    margin-top: 20px;
    gap: 133px;
}

.hero-section-left {
    margin: auto 0;
    max-width: 582px;
}

.hero-left-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-left-description {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 20px;
}

.hero-btn-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

.hero-section-right {
    max-width: 475px;
    max-height: 475px;
}
.hero-right-img-box {
    position: relative;
}

.main-camera {
    top: -450px;
    max-width: 440px;
    max-height: 414px;
}

.hero-section-right-img1 {
    max-width: 100%;
    max-height: 100%;
}

.hero-section-right-img2 {
    max-width: 100%;
    max-height: 100%;
}

/* online companies style */

.online-companies {
    max-width: 1110px;
    margin: 70px auto 0px;
}

.companies-infos {
    margin: 35px 60px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.company-list {
    list-style: none;
}



@media screen and (max-width: 576px) {
    
    /* navbar style */

    .navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        gap: 15px;
    }
    .navbar-name {
        display: flex;
        justify-content: center;
    }
    .navbar-lists {
        gap: 15px; 
        justify-content: center;
    }

    /* hero section style */

    .hero-section {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .hero-section-left {
        text-align: center;
        max-width: 404px;
    }
    .hero-section-right {
        max-width: 257px;
        max-height: 257px;
        margin: 0 auto;
    }
    .main-camera {
        top: -240px;
    }

    /* online companies style */

    .online-companies {
        margin-top: 50px;
    }
    .online-companies hr {
        display: none;
    }
    .companies-infos {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .company-img {
        max-width: 50px;
    }
}

