@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* shared style */

.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar,
.hero-section {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.color-darkgray {
    color: #3A3A3A;
}

.color-lightgray {
    color: #6C6C6C;
}

/* main style */

/* navbar style */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}

.navbar-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-lists {
    gap: 35px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* hero section style */

.hero-section {
    margin-top: 20px;
    gap: 133px;
}

.hero-section-left {
    margin: auto 0;
    max-width: 582px;
}

.hero-left-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-left-description {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 20px;
}

.hero-btn-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

.hero-section-right {
    max-width: 475px;
    max-height: 475px;
}
.hero-right-img-box {
    position: relative;
}

.main-camera {
    top: -450px;
    max-width: 440px;
    max-height: 414px;
}

.hero-section-right-img1 {
    max-width: 100%;
    max-height: 100%;
}

.hero-section-right-img2 {
    max-width: 100%;
    max-height: 100%;
}

/* online companies style */

.online-companies {
    max-width: 1110px;
    margin: 70px auto 0px;
}

.companies-infos {
    margin: 35px 60px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.company-list {
    list-style: none;
}

/* popular collection style */

.popular-collection {
    max-width: 1047px;
    margin: 100px auto 0;
}

.popular-collection-title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.collection-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-card {
    max-width: 330px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 5px;
}

.collection-card-img {
    max-width: 300px;
    margin-bottom: 15px;
}

.collection-card-name {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
}

.collection-card-amount {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: #5E6366;
    margin-bottom: 5px;
}

.collection-card-ratings {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 22px;
    color: #5E6366;
    margin-bottom: 5px;
}

.collection-card-description {
    font-size: 0.8rem;
    font-weight: 700;
    color: #787885;
    max-width: 196px;
}

.popular-collection-btn-container {
    text-align: end;
    margin-top: 50px;
}

.popular-collection-btn {
    border: none;
    background-color: transparent;
}

.popular-collection-btn-link {
    text-decoration: none;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
}

/* featured section style */

.featured-section {
    max-width: 1140px;
    margin: 100px auto 100px;
    display: flex;
    gap: 95px;
}

.featured-section-image {
    max-width: 400px;
}

.featured-section-right {
    max-width: 600px;
    margin: auto 0;
}

.featured-section-title {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}

.featured-section-description {
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}

.featured-section-btn {
    background-color: #E02C6D;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
}

.featured-section-btn-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}

/* footer section */

.footer-section {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(16, 16, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-title {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.footer-copyright {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.footer-description {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.footer-social-infos {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-list {
    list-style: none;
}

.social-link {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 576px) {
    
    /* navbar style */

    .navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        gap: 15px;
    }
    .navbar-name {
        display: flex;
        justify-content: center;
    }
    .navbar-lists {
        gap: 15px; 
        justify-content: center;
    }

    /* hero section style */

    .hero-section {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .hero-section-left {
        text-align: center;
        max-width: 404px;
    }
    .hero-section-right {
        max-width: 257px;
        max-height: 257px;
        margin: 0 auto;
    }
    .main-camera {
        top: -240px;
    }

    /* online companies style */

    .online-companies {
        margin-top: 50px;
    }
    .online-companies hr {
        display: none;
    }
    .companies-infos {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .company-img {
        max-width: 50px;
    }

    /* popular collection style */

    .popular-collection {
        margin: 50px auto 0;
    }
    .collection-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .popular-collection-btn-container {
        margin-top: 30px;
        padding-right: 20px;
    }

    /* featured section style */

    .featured-section {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .featured-section-left {
        margin: 0 auto;
    }
    .featured-section-image {
        max-width: 300px;
    }
    .featured-section-right {
        text-align: center;
    }

}

